h1, h2{
    color: #00a9ff;
    text-align: center;   
}
.date{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
footer{
    text-align: center;
}
.search-form{
width: 500px;
  padding: 15px;
  margin: 8px 8px;
  box-sizing: border-box;
  display: block;
  background-color: lightblue;
  transition: width 0.4s ease-in-out;
  border-radius: 4px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  display: inline-block;
}
body{
    text-align: center;
}
.weather{
    display: block;
    text-align: center;
}
.conversion{
    display: block;
}
.weather-description{
    text-transform: capitalize;
}
li{
    list-style: none;
    text-align: center;
}